{% extends 'base.html.twig' %}
{% block body %}
<div
	STYLE="position: absolute;  left: 5px; text-align: center; right: 5px; top: 5px; bottom: 5px; min-height: 400px; min-width: 400px; padding: 5px; background-color: red; display: flex; z-index: 10;">
	<div CLASS="cont">
		<H1>Категории</H1>
		<ol class="cat">
			{% for category in categories %}
			<li CLASS="cat{{category.id}}"><a
				href="{{ path('category_name', { 'name': category.name }) }}">{{ category.name }}</a></li>
			{% endfor %}			
			<ol class="good">
				{% for good in goods %}
				<li
					CLASS="
					{% for category in categories %}
					    {% for val in category.goods %}
					        {% if  val.id == good.id%}class{{ category.id }} {% endif %}
					    {% endfor %}
					{% endfor %}">{{good.name}}</li>
				{% endfor %}
			</ol>
		</ol>
	</div>
	<div CLASS="cont">
		<H1>Товары</H1>
	</div>
</div>
<div CLASS="menu">
<a href="{{ path('categories_index') }}">Categories</a>
<a href="{{ path('goods_index') }}">Goods</a>
</div>
{% endblock %}
{% block stylesheets %}
<style>
body {
	background: #F5F5F5;
	font: 18px/1.5 sans-serif;
}
div.menu{
	position:absolute;
	width: 240px;
	display:inline-block;
	margin-left: -120px;
	left:50%;
	top:10px;
	background-color: yellow;
	z-index: 100;
	text-align: center;
}
.cont {
	width: 50%;
	height: 100%;
	overflow: auto;
	background-color: #F1F2F3;
}

.cont:HOVER {
	background-color: white;
}

.cat {
	
	text-align: left;
	padding: 30px;
	position: absolute;
	bottom: 10px;
	left:30px;
	top:100px;
	right:30px;
	overflow: auto;
}

.good {
	width: 40%;
	text-align: left;
	padding: 30px;
	position: absolute;
	bottom: 10px;
	right:0px;
	top:0px;
	overflow: auto;
}

{%for category in categories %}
.cat>li.cat{{category.id}}:HOVER ~ .good>li.class{{category.id}} {
	background-color: yellow;
}
{% endfor %}


a {
	display: block;
	width: 100%;
	text-decoration: none;
}
.cat>li {
	width: 40%;
}
.good>li {
	width: 80%;
}
.cat>li:HOVER {
	background-color: silver;
}

</style>

{% endblock %}
